
html{
	/text-align: center;
}

body {
	margin: 0;
	padding: 0;
	background-color: #ececec;
	font-family: 'Open Sans', sans-serif;
}

header{
	display: flex;
	justify-content: space-between;
	background-color: #33495f;
	height: 88px;
	min-width: 750px;
	white-space: nowrap;
	overflow-x: : scroll;
	overflow-x: hidden
}

footer {
	position: absolute;
	display: flex;
	justify-content: space-between;
	bottom: 0;
	color: #33495f;
	background-color: white;
	border: 1px #33495f groove;
	min-width: 750px;
	width: 100%;
	height: 25px;
}

footer div {
	margin-left: 13px;
}

table{
	margin: 0 2px 0 2px;
	border:1px solid lightgray;
	box-shadow: 8px 8px 4px 0 #ececec;
}

td {
	text-align: center;
	width: 120px;
	border-radius: 4px;
}

li {
	list-style-type:none;
}

h3 {
}

h4 {
	font-weight: bold;
	text-decoration: underline;;
	margin: 20px 0 0 0;
}

.scores {
	text-align: center;
	padding: 3px;
	display: inline-block;
	width: 140px;
	height: 75px;
	color: #ececec;
	font-size: large;
	border-radius: 4px;
	box-shadow: 2px 6px 12px 0 rgba(0,0,0,0.2), 2px 5px 10px 0 rgba(0,0,0,0.19);
}

.scoreNum{
	text-align: center;
	display: inline-block;
	border-color: #ececec;
	border-style: inset;
	width: 48px;	
}

.row {
	margin: 8px 0 0 0;
}

.cardPads{
	margin: 0 2px 0 2px;
	padding: 0 1px 0 1px;
	border-radius: 6px;
}

.img-responsive:hover {
    opacity: .7;
}

.modalImg {
	max-width: 70px;
}

.dirTableWrap {
	text-align: center;
}

.dirTables {
	display: inline-block;
	margin: 20px 5px;
}

.dirTables td {
	padding: 5px;
}

.dirTables td p {
	margin: 3px 0;
}

.dirTablesText {
	text-align: left;
	background-color: rgba(20,156,168,0.2);
}

#xColButton{
	margin: 30px 30px;
	text-align: center;
	display: inline-block;
	height: 30px;
	color: #33495f;
	border-radius: 4px;
	background-color: #ececec;
}
#xColButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#xcolButtonWrapper {
	display: inline-block;
	width: 300px;
}

#directionsWrapper {
	display: inline-block;
	max-height: 500px;
	max-width: 750px;
	/*white-space: nowrap;*/
	overflow-wrap: normal;
	overflow-y: : scroll;
	overflow-y: hidden;
}

#boardWrapper {
	min-width: 400px;
	white-space: nowrap;
	overflow-x: : scroll;
	overflow-x: hidden
}

a #logo {
	margin: 4px 12px;
	display: inline-block;
	width: 140px;
}

a #logo:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#wrapScores {
	margin-top: 7px;
	display: inline-block;
}



